@import 'iw_skin_icomoon';
@import 'iw_skin_colors';
@import 'iw_skin_mixins';

* {
	.border-box();
}
html {
	font: normal normal 400 13px/19px 'Open Sans';
	background-color: #ecedf0;
	color: #000;
	height: 100%;
	overflow-y: scroll;
}
body {
	height: 100%;
}
h1 {
	font: normal normal 600 20px/1.2 'Open Sans';
	margin: 0;
	padding: 1em 0 1em 0;
	border: 0;
	color: #000;
}
h2 {
	font: normal normal 600 17px/1.3 'Open Sans';
	margin: 0;
	padding: 1em 0 1em 0;
	border: 0;
	color: #000;
	& + .rex-message,
	& + .rex-message-block {
		margin-top: -2px;
	}
}
h3,
h4,
h5,
legend {
	font: normal normal 600 15px/1.3 'Open Sans';
	margin: 0;
	padding: 1.5em 0 1em 0;
	border: 0;
	color: #000;
	& + .rex-message,
	& + .rex-message-block {
		margin-top: 0;
	}
}
.rex-addon-output,
fieldset:first-of-type {
	& > h1:first-of-type,
	& > h2:first-of-type,
	& > h3:first-of-type,
	& > h4:first-of-type,
	& > h5:first-of-type,
	& > legend:first-of-type {
		padding-top: 0;
	}
}
p {
	margin: 0 0 1em 0;
}
a {
	color: @blue;
	text-decoration: none;
	outline: 0;
	&.rex-active,
	&:hover,
	&:active,
	&:focus {
		color: @orange;
		text-decoration: none;
	}
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
b, strong, th {
	font-weight: 600;
}
table {
	.def-content-block();
	padding: 7px 15px;
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
	margin: 0 0 1em;
	caption {
		.srOnly ()
	}
	th {
		text-align: left;
		vertical-align: bottom;
		border-bottom: 1px solid @border-grey;
		padding: 8px 4px;
	}
	td {
		text-align: left;
		vertical-align: top;
		padding: 8px 4px;
		border-top: 1px solid @border-grey;
	}
}
legend {
	font-weight: 600;
}
input[type="text"],
input[type="passwort"],
textarea,
select {
	border: 1px solid @border-grey;
	padding: 2px;
	min-width: 50px;
}
input[type="submit"] + input[type="submit"] {
	margin-left: 3px;
}

// main blocks
#rex-page-user {
	label {
		width: 30%;
	}
	input[type="text"],
	textarea,
	select {
		width: 68%
	}
	.rex-form-notice {
		padding-left: 32%;
	}
	input[type="submit"] {
		margin-left: 32%;
	}
	.rex-form-col-a {
		width: 48%;
		float: left;
	}
	.rex-form-col-b {
		width: 48%;
		float: right;
	}
}
#rex-website{
	height: 100%;
}
#rex-header{
	float: left;
	padding: 15px 0 15px 30px;
	position: relative;
	z-index: 1;
	p {
		margin: 0;
	}
	a {
		display: block;
		width: 186px;
		height: 26px;
		background: url(iw_skin_logo.png) no-repeat 0 0;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
	}
}
#rex-navi-logout{
	padding-top: 26px;
	padding-right: 30px;
	background: #fff;
	.clearfix();
	ul {
		float: right;
		.nav-list();
		li {
			float: left;
			margin-left: 1em;
		}
	}
}
#rex-navi-main {
	position: absolute;
	left: 0;
	top: 56px;
	clear: both;
	width: 200px;
	min-height: 100%;
	padding: 15px 0;
	background: @almost-black;
	margin-right: -200px;
	dl {
		.nav-list();
		dt {
			font-size: 20px;
			line-height: 1.2;
			font-weight: 400;
			color: #fff;
			margin-top: 2em;
			padding: 0 15px 15px 30px;
			&:first-child {
				margin-top: 0;
			}
		}
		dd {
			margin: 0;
			padding: 0;
		}
	}
	ul {
		.nav-list();
		li {
			margin: 0;
			padding: 0;
			a {
				color: #fff;
				display: block;
				padding: 7px 15px 7px 28px;
				margin-bottom: 1px;
				border-left: 2px solid @almost-black;
				&:hover,
				&:active,
				&:focus {
					background: @main-nav-hover-grey;
					border-left-color: @main-nav-hover-grey;
				}
				&.rex-popup:after {
					.icomoon();
					content: "\e606";
					font-size: 1.1em;
					margin-left: 5px;
					position: relative;
					top: 1px;
				}
			}
			ul {
				display: none;
			}
			&.rex-active {
				a {
					background: @main-nav-hover-grey;
					border-left-color: @main-nav-hover-grey;
					&:hover,
					&:active,
					&:focus {
						border-left-color: @main-nav-hover-border;
					}
				}
				& > a {
					border-left-color: @blue;
					&:hover,
					&:active,
					&:focus {
						border-left-color: @blue;
					}
				}
				ul {
					display: block;
					li {
						a {
							padding-left: 38px;
						}
					}
				}
			}
		}
	}
}
#rex-wrapper{
	.border-box();
	border-left: 200px solid @almost-black;
	overflow: hidden;
}
#rex-footer{
	clear: both;
	* {
		display: none;
	}
}
#rex-redaxo-link{
	display: none;
}
#rex-output {
	padding: 30px;
	& > .rex-content-block {
		.def-content-block();
	}
	ul.xform.root {
		font-size: 1em;
	}
}


// general form elements defs - needs to stay on top for easy overwriting
.rex-form {
	.def-content-block();
	p {
		margin: 0 0 7px 0;
		.clearfix();
		&.rex-form-submit {
			padding-top: 7px;
			border-top: 1px solid @border-grey;
			margin-top: 1em;
		}
	}
	table {
		padding: 0;
		box-shadow: none;
	}
	label {
		float: left;
		width: 23%;
		margin-right: 2%;
	}
	input[type="text"],
	input[type="password"],
	textarea,
	select,
	.rex-widget {
		width: 75%
	}
	.rex-widget {
		overflow: hidden;
	}
	.rex-form-notice {
		display: block;
		padding-left: 25%;
		font-size: .9em;
	}
	.rex-form-row {
		.clearfix();
		margin-bottom: .5em;
	}
	.rex-form-select-date {
		select {
			width: auto;
		}
	}
	& > h1,
	& > h2 {
		padding-top: 0;
	}
}

// structure
#rex-page-structure {
	input[type="text"] {
		width: 100%;
	}
	.rex-has-metainfo {
		.rex-button-add {
			margin: 3px 0 0 0;
		}
	}
	#rex-i-meta-category:after {
		font-size: 1em;
		position: relative;
		top: 1px;
		left: 2px;
	}
}

// mediapool & linkmap
.rex-popup {
	background-image: none;
	#rex-navi-main {
		display: none;
	}
	#rex-wrapper {
		border: 0;
	}
	#rex-output {
		padding: 15px;
	}
	#rex-navi-logout {
		padding: 0;
	}
	.rex-title-row {
		padding-left: 30px;
	}
}
#rex-linkmap {
	.def-content-block();
	ul {
		.nav-list();
		li {
			a {
				display: inline-block;
				padding: 2px 0;
				&.rex-online {
					color: @info-font-color;
				}
				&.rex-offline {
					color: @warning-font-color;
				}
			}
			li {
				padding: 0 0 0 15px;
			}
		}
	}
	.rex-area-col-a {
		a {
			&:before {
				.icomoon();
				margin-right: 3px;
				content: "\e601";
			}
		}
	}
	.rex-area-col-b {
		a {
			&:before {
				.icomoon();
				margin-right: 3px;
				content: "\e600";
			}
		}
	}
}
#rex-page-mediapool {
	.rex-form-file {
		margin-bottom: 0;
		input + .rex-form-notice {
			padding-top: 1em;
		}

	}
}
#rex-page-addon {
	table {
		colgroup {
			display: none;
		}
		th:first-child,
		td:first-child {
			display: none;
		}
	}
	.installed {
		.rex-col-c {
			background: @info-background-color;
		}
	}
	.active {
		.rex-col-d {
			background: @info-background-color;
		}
	}
	.rex-plugin {
		td {
			font-size: .9em;
			border-top: 0;
			padding: 4px;
		}
		td:nth-child(2) {
			padding-left: 2em;
		}
	}
	.rex-addon + .rex-plugin {
		td {
			padding-top: 0;
		}
	}
}
#rex-form-mediapool-selectcategory {
	.def-content-block();
	p {
		margin: 0;
		width: 49%;
	}
	select {
		width: auto;
	}
	label {
		width: auto;
		float: none;
		display: inline;
	}
	.rex-form-col-a {
		float: left;
		text-align: left;
	}
	.rex-form-col-b {
		float: right;
		text-align: right;
	}
}
#rex-form-mediapool-media {
	legend {
		.srOnly();
	}
	p {
		margin: 0;
	}
	th.rex-icon {
		color: #fff;
	}
	.rex-icon label {
		.srOnly();
	}
}
#rex-mediapool-detail-wrapper {
	position: relative;
	.rex-form {
		width: 100% !important;
		padding-right: 230px;
	}
	.rex-mediapool-detail-image {
		position: absolute;
		right: 15px;
		top: 41px;
		p {
			margin: 0;
		}
	}
}
#rex-form-mediapool-media {
	label,
	select {
		width: auto;
	}
}

// installer & system
#rex-page-install {
	colgroup {
		display: none;
	}
	h4 {
		padding-top: 0;
	}
	.rex-shortdescription {
		-ms-word-break: break-all;
		word-break: break-all;
		word-break: break-word;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		hyphens: auto;
	}
}
#rex-table-install-packages-information {
	th {
		border: 0;
		vertical-align: top;
	}
	td {
		border: 0;
	}
}
#rex-table-install-packages-files {
	th:first-child,
	td:first-child {
		display: none;
	}
}
#rex-form-system-setup {
	h3 {
		display: none;
	}
	legend,
	h4:first-child {
		padding-top: 0;
	}
	.rex-form-notice {
		display: none;
	}
	.rex-area-col-b {
	}
}

// login
#rex-page-login {
	#rex-wrapper {
		border: 0;
	}
	#rex-navi-main {
		display: none;
	}
	.rex-title-row {
		padding-left: 30px;
	}
	input.rex-form-submit {
		margin-left: 25%;
	}
}

// various
#rex-title {
	h1 {
		background-image: none !important;
		text-indent: 0 !important;
	}
	span {
		display: inline !important;
		margin: 0 !important;
	}

}
.rex-title-row {
	background: @almost-black;
	color: #fff;
	padding: 15px 15px 15px 45px;
	h1 {
		font-weight: 400;
		padding: 0;
		color: #fff;
	}
}
.rex-title-row-sub {
	color: #000;
	background: #fff;
	padding: 7px 15px 7px 45px;
	border-bottom: 1px solid @border-grey;
	font-weight: 600;
	.clearfix();
	dl {
		.nav-list();
		dt {
			.srOnly();
		}
		dd {
			.nav-list();
		}
	}
	ul {
		.nav-list();
		li {
			float: left;
			margin-right: 1em;
		}
	}
	p {
		margin: 0;
	}
}
.rex-title-row-empty {
	display: none;
}
.rex-content-header {
	.def-content-block();
	ul {
		.nav-list();
		li {
			float: left;
			margin-left: 1em;
			&:first-child {
				margin-left: 0;
			}
		}
	}
	#rex-navi-ctype {
		float: left;
	}
	.rex-navi-content {
		float: right;
	}
}
.rex-form-content-editmode {
	legend {
		display: none;
	}
	p {
		margin: 0;
	}
	select {
		width: 100%;
	}
	.rex-form-row {
		margin: 0;
	}
}
.rex-content-editmode-module-name {
	.def-content-block();
	margin-bottom: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom: 1px solid @border-grey;
	h3 {
		margin: 0;
		padding: 0;
		float: left;
	}
	.rex-navi-slice {
		float: right;
		ul {
			.nav-list();
			float: right;
			li {
				float: left;
				margin-left: 1em;
				span {
					display: none;
				}
			}
		}
	}
}
.rex-form-content-editmode-add-slice {
	legend {
		.srOnly();
	}
	&.rex-form {
		.undo-def-content-block();
		margin-bottom: 15px;
	}
	.rex-form-wrapper {
		.def-content-block();
		border-radius: 0;
		margin: 0;
	}
	fieldset:first-child {
		.rex-form-wrapper {
			padding-bottom: 0;
		}
	}
	fieldset:last-child {
		.rex-form-wrapper {
			padding-top: 0;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	}
}
.rex-content-editmode-slice-output {
	.def-content-block();
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	h1,
	h2,
	h3,
	p {
		padding: 0;
	}
	table {
		width: auto;
		&:before,
		&:after {
			content: '';
		}
		.undo-def-content-block();
		tr {
			td {
				border: 0;
				padding: 0 1em 0 0;
			}
		}
	}
}
.rex-form-content-editmode-edit-slice {
	margin-bottom: 1em;
	legend {
		.srOnly();
	}
}
a[name="editslice"] + .rex-form-content-editmode-edit-slice {
	margin-top: -1em;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.rex-message,
.rex-message-block{
	position: relative;
	p {
		margin: 0;
	}
	margin-top: 15px;
	.rex-i-close {
		position: absolute;
		top: 15px;
		right: 15px;
		cursor: pointer;
		&.info {
			color: @info-font-color;
		}
		&.warning {
			color: @warning-font-color;
		}
	}
	&:first-child {
		margin-top: 0;
	}
}
.rex-info,
.rex-info-block{
	.def-content-block();
	color: @info-font-color;
	background-color: @info-background-color;
	border: 1px solid @info-border-color;
	border-left: 2px solid @info-font-color;
}
.rex-info-block b {
	display: block;
	position: relative;
}
.rex-warning,
.rex-warning-block {
	.def-content-block();
	position: relative;
	color: @warning-font-color;
	background-color: @warning-background-color;
	border: 1px solid @warning-border-color;
	border-left: 2px solid @warning-font-color;
}
.rex-strike {
	text-decoration: line-through;
}
.rex-form-label-right {
	input {
		display: inline-block;
	}
	label {
		display: inline;
		margin: 0;
		float: none;
		width: auto;
	}
}
.rex-fl-lft {
	float: left;
}
.rex-fl-rght {
	float: right;
}
.rex-clearer {
	clear: both;
}
.rex-online {
	color: @info-font-color;
}
.rex-offline {
	color: @warning-font-color;
}
.rex-area-col-a{
	width: 48%;
	float: left;
	div {
		width: 100%;
	}
}
.rex-area-col-b{
	width: 48%;
	float: right;
	div {
		width: 100%;
	}
}
.rex-addon-output {
	.def-content-block();
	.rex-addon-content,
	.rex-form {
		.undo-def-content-block();
	}
	table {
		.undo-def-content-block();
	}
	& > table {
		margin-top: 0;
	}
}
.rex-addon-output-v2 {
	.def-content-block();
	table,
	.rex-form {
		.undo-def-content-block();
	}
}
.rex-addon-content {
	.def-content-block();
	.rex-form,
	.rex-addon-output {
		.undo-def-content-block();
	}
}
#rex-navi-path {
	.nav-list();
	overflow: hidden;
	ul {
		.nav-list();
	}
	li {
		float: left;
		margin: 0;
	}
	& + p {
		margin-top: 3px;
	}
}
#rex-navi-page {
	ul {
		.nav-list();
		.clearfix();
		li {
			float: left;
			margin-right: 1em;
		}
	}
}
.rex-toolbar {
	.def-content-block();
	.rex-form {
		.undo-def-content-block()
	}
	.rex-fl-lft {
		width: 55%;
	}
	.rex-fl-rght {
		width: 44%;
		text-align: right;
	}
	label {
		display: inline;
		float: none;
		font-weight: 600 !important;
	}
	input {
		display: inline;
		float: none;
	}
	ul {
		.nav-list();
		li {
			float: left;
			padding-right: 1em;
			font-weight: 600;
		}
	}
	& + .rex-content-header {
		margin-top: -25px;
	}
}
.rex-metainfo-cat {
	td {
		border: 0;
	}
}
p.rex-form-widget {
	label {
		width: 100%;
		margin: 0;
	}
}

// widgets
@import 'iw_skin_rex_widget';

// addons
@import 'iw_skin_addons';