.rex-widget {
	margin-bottom: 1em;
	ul {
		.nav-list();
		background: @border-grey;
		border-radius: 3px;
		border: 1px solid @border-grey;
		&:empty {
			border: 0;
		}
		li {
			display: block;
			margin: 1px 0;
			padding: 3px 7px;
			background: #fff;
			border-radius: 3px;
			position: relative;
			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 0;
			}
			.rex-link-view,
			.rex-file-view {
				position: relative;
				top: 2px;
				margin-right: 5px;
				&:before {
					.icomoon();
					content: "\e6ce";
				}
			}
			.rex-link-delete,
			.rex-file-delete {
				position: absolute;
				right: 0;
				top: 0;
				bottom: 0;
				width: 30px;
				cursor: pointer;
				&:hover,
				&:active,
				&:focus {
					background: @warning-background-color;
				}
				&:before {
					.icomoon();
					content: "\e702";
					display: block;
					text-align: center;
					font-size: .8em;
					color: @warning-font-color;
					margin-top: 8px;
				}
			}
		}
	}
	select {
		display: none;
	}
	& + .rex-clearer {
		display: none;
	}
}
.rex-widget-link,
.rex-widget-media {
	input[type="text"] {
		display: none;
	}
}
.rex-widget-media,
.rex-widget-medialist {
	.rex-icon-file-view {
		display: none;
	}
	li {
		.rex-icon-file-view {
			display: inline-block;
		}
		span {
			display: none;
		}
	}
	.preview {
		overflow: hidden;
		padding: 0 0 1px 1px;
		border: 0;
		li {
			display: block;
			width: 82px;
			height: 82px;
			padding: 0;
			text-indent: 82px;
			white-space: nowrap;
			overflow: hidden;
			float: left;
			margin: 1px 1px 0 0;
			&:first-child {
				margin: 1px 1px 0 0;
			}
			.rex-file-view {
				width: 20px;
				height: 20px;
				text-indent: 0;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 1;
				background: rgba(255,255,255,.7);
				border-bottom-right-radius: 3px;
				padding: 2px 0 0 2px;
			}
			.rex-file-delete {
				width: 20px;
				height: 20px;
				text-indent: 0;
				z-index: 1;
				background: rgba(255,255,255,.7);
				margin: 0;
				border-bottom-left-radius: 3px;
				&:before {
					margin-top: 6px;
				}
			}
			span {
				display: block;
				z-index: 0;
				span {
					display: block;
					width: 80px;
					height: 80px;
					position: absolute;
					left: 1px;
					top: 1px;
					background-position: center center;
					background-repeat: no-repeat;
				}
			}
		}
	}
}
.rex-file-open {
	display: inline-block;
	margin-right: 1em;
	&:after {
		.icomoon();
		content: "\e606";
		font-size: 1.1em;
		position: relative;
		top: 1px;
		padding: 0 0 0 3px;
	}
}
.rex-file-add {
	&:after {
		.icomoon();
		content: "\e606";
		font-size: 1.1em;
		position: relative;
		top: 1px;
		padding: 0 0 0 3px;
	}
}
.rex-file-toggle-view {
	margin-left: 1em;
	position: relative;
	top: 1px;
	&:after {
		.icomoon();
		content: "\e616";
	}
	&.preview {
		&:after {
			content: "\e6bf";
		}
	}
}



