.border-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.nav-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.srOnly {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}
.clearfix{
	zoom:1;
	&:before, &:after{ content:""; display:table; }
	&:after{ clear: both; }
}
.def-content-block {
	.clearfix();
	border-radius: 5px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	background: #fff;
	padding: 15px;
	margin-bottom: 15px;
}
.undo-def-content-block {
	border-radius: 0;
	box-shadow: none;
	background: none transparent;
	padding: 0;
	margin-bottom: 0;
}