@font-face {
	font-family: 'icomoon';
	src:url('icomoon/fonts/icomoon.eot?1vklsh');
	src:url('icomoon/fonts/icomoon.eot?#iefix1vklsh') format('embedded-opentype'),
	url('icomoon/fonts/icomoon.woff?1vklsh') format('woff'),
	url('icomoon/fonts/icomoon.ttf?1vklsh') format('truetype'),
	url('icomoon/fonts/icomoon.svg?1vklsh#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
.icomoon {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	text-decoration: none;
	font-size: 1.2em;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&:hover {
		text-decoration: none;
	}
}

.rex-i-element span {
	.srOnly();
}
.rex-i-element,
.rex-slice-move-down,
.rex-slice-move-up {
	.icomoon();
}
.rex-i-close:before {
	.icomoon();
	content: "\e702";
}
#rex-i-meta-category:after {
	.icomoon();
	content: "\e6cb";
}
.rex-i-article {
	color: @main-nav-hover-grey;
	&:hover,
	&:active,
	&:focus {
		color: @orange;
	}
	&:before {
		content: "\e600";
	}
}
.rex-i-article-startpage:before {
	content: "\e600";
}
.rex-i-refresh:before {
	content: "\e684";
}
.rex-i-mediapool-category:before,
.rex-i-category:before {
	content: "\e601";
}
.rex-i-category-add:before,
.rex-i-mediapool-category-add:before,
.rex-i-action-add:before,
.rex-i-metainfo-add:before,
.rex-i-module-add:before,
.rex-i-user-add:before,
.rex-i-template-add:before,
.rex-i-clang-add:before,
.rex-i-generic-add:before,
.rex-i-article-add:before {
	content: "\e603";
}
.rex-slice-move-up:before {
	content: "\e604";
}
.rex-slice-move-down:before {
	content: "\e605";
}
.rex-i-addon:before,
.rex-i-module:before,
.rex-i-template:before,
.rex-i-action:before {
	content: "\e607";
}
.rex-i-user:before {
	content: "\e67b";
}
.rex-i-clang:before {
	content: "\e6c8";
}
.rex-i-metainfo:before {
	content: "\e6cb";
}
.rex-plugin {
	.rex-col-b {
		&:before {
			.icomoon();
		}
	}
}