@blue: #0284c2;
@almost-black: #171717;
@main-nav-hover-grey: lighten(@almost-black, 10%);
@main-nav-hover-border: lighten(@almost-black, 20%);
@border-grey: #ddd;
@orange: #ff8c00;
@logo-grey: #a1a1a1;

@info-font-color: #3c763d;
@info-background-color: #dff0d8;
@info-border-color: #d6e9c6;

@warning-font-color: #a94442;
@warning-background-color: #f2dede;
@warning-border-color: #ebccd1;